*{
    margin: 0;
    padding: 0;
}
body{
background: #0052D4;  
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); 


}
canvas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}
h1{
    color:white;
    margin-top: 18px;
text-shadow: black 0.1em 0.1em 0.2em
}